# Core Django
Django==6.0
djangorestframework==3.14.0

# Authentication
djangorestframework-simplejwt==5.5.1

# CORS handling
django-cors-headers==4.3.0

# Database
psycopg2-binary==2.9.10
dj-database-url==2.1.0

# Production server
gunicorn==21.2.0

# Static files
whitenoise==6.6.0

# Environment variables
python-decouple==3.8

# Image handling
Pillow==11.2.1

# Utilities
python-dotenv==1.0.0
setuptools==82.0.1

# Security
django-ratelimit==4.1.0
